.mini-tree {
  padding: 0;
  list-style: none;
  margin-left: 25px;
  border-left: 0.5px solid #ccc;
}
.mini-tree-item-behavior {
  display: block;
  line-height: 14px;
  padding: 15px 0px 15px 25px;
  cursor: default;
}
.mini-tree-item-behavior:hover {
  color: rgb(99, 122, 156);
  cursor: pointer;
}
.mini-tree-item-behavior:hover .mini-tree-item-icon {
  color: rgb(99, 122, 156);
  cursor: pointer;
}
.mini-tree-item-behavior:hover .mini-tree-item-behavior-icon {
  color: rgb(99, 122, 156);
  cursor: pointer;
}                    
.mini-tree-item {    
  overflow: hidden;
  position: relative;
}
.mini-tree-item-icon {
  margin-right: 5px;              
}
.mini-tree-item-behavior-icon {
  margin-left: 5px;
}
.mini-tree-item.expanded .mini-tree-items {
  display: none;
}
.mini-tree-item:before {    
  top: 22px;
  width: 15px;
  content: ' ';
  position: absolute;
  display: inline-block;
  border: 0.5px solid #ccc;
}
.mini-tree-items {
  padding: 0;
  list-style: none;
  margin-left: 25px;
  border-left: 0.5px solid #ccc;
}